[submodule "MiraAPI"]
	path = MiraAPI
	url = https://github.com/All-Of-Us-Mods/MiraAPI
	branch = dev
[submodule "GitSubmodules/MiraAPI"]
	path = GitSubmodules/MiraAPI
	url = https://github.com/All-Of-Us-Mods/MiraAPI
	branch = dev
